@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-background: 255, 255, 255;
  --color-primary: 255 115 255;
  --color-secondary: 96 91 255;
  --color-selection: 172 169 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-background: 22 22 22;
    --color-primary: 13 13 13;
    --color-secondary: 96 91 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
